body {
    background-color: bisque;
}

.profile-square {
    width: 500px;
    height: 500px;
    background-color: black;
    padding: 40px;
    color: white;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
}

.profile-picture {
    border-radius: 30%;
    height: 180px;
    width: 180px;
    border-style: solid;
    border-color: white;
    border-width: 3px;
    border-radius: 40%;
}

h1 {
    font-weight: 50;
    letter-spacing: 5;
    font-size: 45px;
}

p {
    font-size: 25px;
    font-weight: 50;
    
}

.break{
    margin: 0 auto;
    border-top: 2px solid white;
   
}

.link-pics {
    font-size: 40px;
}

.link-pics a {
    color: white;
}

.link-pics a:hover {
    color: blue;
}

.contact {
   text-align: center;
    color: white;
    border-radius: 30%;
    position: relative;
    bottom: 90px;
    font-size: 30px;
}
a{
    color: white;
    text-decoration: none;
}

